<a href="https://colab.research.google.com/github/iamkishore0/Python_Libraries/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#import required libraries pandas and numpy
import pandas as pd
import numpy as np

In [2]:
#Series - A series consists of index + data
#DataFrame - two or more series considered as data frame

In [14]:
#Creating a series with default index
x = [30,40,50]
y = np.array(x)

z = pd.Series(data=y)
print(z)

0    30
1    40
2    50
dtype: int64

In [8]:
#Creating a series with own index
a = [0, 1, 2, 3]         #index
b = [90,80,70,60]        #data
c = np.array(b)          #converting list to nparray

d = pd.Series(data=c, index=a)  #The actual code to join index and data togeather 
print(d)

0    90
1    80
2    70
3    60
dtype: int64

In [10]:
#Creating a series with 'string' data
a = [0,1,2,3,4]
b = ['india', 'uk', 'us', 'japan', 'dubai']
d = pd.Series(data=b, index=a)  #The actual code to join index and data togeather 
print(d)

0    india
1       uk
2       us
3    japan
4    dubai
dtype: object

In [17]:
#Dictionary in series
a = {'region':'usa', 'rank':'1st','vehicle':'four wheeler','brand':'tesla'}

b = pd.Series(data=a)
print(b)

region              usa
rank                1st
vehicle    four wheeler
brand             tesla
dtype: object

In [25]:
#The direct method
rank = pd.Series(['US','UK','EU','JP'],[1,2,3,4]) #please not the first list will be considered as data and second one as index
print(rank)

1    US
2    UK
3    EU
4    JP
dtype: object

In [33]:
#Slicing operations
print(rank[1])
print(rank[2])
print(rank[3])
print(rank[4])
print(rank[1:3])
print(rank[::-1])

US
UK
EU
JP
2    UK
3    EU
dtype: object
4    JP
3    EU
2    UK
1    US
dtype: object

In [45]:
#Merging Data
#with matching indexes
x = pd.Series([1,2,3,4],['A','B','C','D'])
y = pd.Series([9,8,7,6],['A','B','C','D'])
z = x+y
print(z)

#with unmatched indexes
a = pd.Series([1,2,3,4],['D','C','B','A'])
b = pd.Series([5,6,7,8],['B','O','D','Q'])
c = a+b
print(c)

A    10
B    10
C    10
D    10
dtype: int64
A    NaN
B    8.0
C    NaN
D    8.0
O    NaN
Q    NaN
dtype: float64

In [58]:
#Create a Data frame


data = {'Name': ['Tom', 'Jack', 'nick', 'juli'],
	    	'marks': [99, 98, 95, 90],
        'section' : ['A','B','C','D']}

df = pd.DataFrame(data, index=['rank1',
							'rank2',
							'rank3',
							'rank4'])
df

       Name  marks section
rank1   Tom     99       A
rank2  Jack     98       B
rank3  nick     95       C
rank4  juli     90       D